.container {
  width: 100%;
}

.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  /*flex-wrap: nowrap;*/
}

.flex-row-md {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
  }

  
  .flex-row-sm {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
  }

  
  .flex-row-xs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
  }

  
.flex-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  
.flex-col-md {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  
.flex-col-sm {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .flex-wrap{
    flex-wrap: wrap;
  }

  
.flex-col-xs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  

.flex-center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;  
  align-items: center;
}

.flex-col-center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;  
  align-items: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  flex-direction: column;
}

.flex-row-center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;  
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  flex-direction: column; */
}

/* Center In Middle of Screen of that flex | Have Parent as flex-center */
.flex-middle{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 50%;
}



.flex-col-rev{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-rev{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
}

.flex-vert-end{ justify-content: flex-end; }

.flex-hori-end{  align-items: flex-end; }

.flex-vert-start{ justify-content: flex-start; }

.flex-hori-start{ align-items: flex-start; }

.flex-vert-center{ justify-content: center;}

.flex-hori-center{ align-items: center;}

.flex-end{
  align-self: flex-end;
  justify-content: flex-end;
  justify-self: flex-end;
}

.flex-start{
  align-content: flex-start;  
  align-items: flex-start;
}

.flex0{
  -webkit-box-flex: 0;
  -moz-box-flex: 0 1 auto;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto; 
}

.flex1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1 1 auto;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; 
}
.flex2{
  -webkit-box-flex: 2;
  -moz-box-flex: 2 1 auto;
  box-flex: 2;
  -webkit-flex: 2 2 auto;
  flex: 2 2 auto; 
}
.flex3{
  -webkit-box-flex: 3;
  -moz-box-flex: 3 1 auto;
  box-flex: 3;
  -webkit-flex: 3 3 auto;
  flex: 3 3 auto; 
}
.flex4{
  -webkit-box-flex: 4;
  -moz-box-flex: 4 1 auto;
  box-flex: 4;
  -webkit-flex: 4 4 auto;
  flex: 4 4 auto; 
}
.flex5{
  -webkit-box-flex: 5;
  -moz-box-flex: 5 1 auto;
  box-flex: 5;
  -webkit-flex: 5 5 auto;
  flex: 5 5 auto; 
}
.flex6{
  -webkit-box-flex: 6;
  -moz-box-flex: 6 1 auto;
  box-flex: 6;
  -webkit-flex: 6 6 auto;
  flex: 6 6 auto; 
}
.flex7{
  -webkit-box-flex: 7;
  -moz-box-flex: 7 1 auto;
  box-flex: 7;
  -webkit-flex: 7 7 auto;
  flex: 7 7 auto; 
}
.flex8{
  -webkit-box-flex: 8;
  -moz-box-flex: 8 1 auto;
  box-flex: 8;
  -webkit-flex: 8 8 auto;
  flex: 8 8 auto; 
}
.flex9{
  -webkit-box-flex: 9;
  -moz-box-flex: 9 1 auto;
  box-flex: 9;
  -webkit-flex: 9 9 auto;
  flex: 9 9 auto; 
}
.flex10{
  -webkit-box-flex: 10;
  -moz-box-flex: 10 1 auto;
  box-flex: 10;
  -webkit-flex: 10 10 auto;
  flex: 10 10 auto; 
}
.flex11{
  -webkit-box-flex: 11;
  -moz-box-flex: 11 1 auto;
  box-flex: 11;
  -webkit-flex: 11 11 auto;
  flex: 11 11 auto; 
}
.flex12{
  -webkit-box-flex: 12;
  -moz-box-flex: 12 1 auto;
  box-flex: 12;
  -webkit-flex: 12 12 auto;
  flex: 12 12 auto; 
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.content-spacing{
  /*height: 135px;*/
  height: 20px;
  /*padding: 35%;*/
}

.content-gap{
  /*height: 135px;*/
  height: 5px;
  /*padding: 35%;*/
}