<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/front.css" media="all">
  <link rel="stylesheet" href="css/myFlex.css" media="all">
  
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Quicksand|Ubuntu|Barlow|Comfortaa|" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--FULLCALENDAR-->
  <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
  <script src='fullcalendar/lib/jquery.min.js'></script>
  <script src='fullcalendar/lib/moment.min.js'></script>
  <script src='fullcalendar/fullcalendar.js'></script>
  <script type='text/javascript' src='fullcalendar/gcal.js'></script>

  <meta name="description" content="Shocker Gaming Website">
  <meta name="keywords" content="Shocker Gaming, Wichita esports, wichita, shocker, gaming, esports, university, club, organization, gaming, WSU, video game, community, League of Legends, LoL, Dota2, starcraft, counter strike global offensive, csgo, hearthstone, rocket league, seige, super smash bros. ultimate, super smash bros., ssbm, melee, tournament, competition, prize,">
  <meta name="author" content="Ramil Hinshaw">
  <title>Shocker Gaming</title>
</head>