      <!--NAVBAR-->
      <div class="flex-center">
        <nav >
            <img src="img/logo.png" alt="Logo">
            <a class="flex0 navLink" href="index.html">Home</a>
            <a class="flex0 navLink" href="schedule.html">Schedule</a>             
            <a class="flex0 navLink" href="gallery.html">Gallery</a>
            <a class="flex0 navLink" href="https://www.youtube.com/channel/UCjleAPb1jOko7LZYVbMZGVg/videos">Videos</a>
            <a class="flex0 navLink" href="aboutUs.html">About Us</a>

        </nav>
        <!-- <div class="arrow-down"></div> -->
    </div> 